.back ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(90, 90, 209);
}
li {
  float: left;
}
li a {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
  
li a:hover {
  background-color: white;
  color: black;
}

.home ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(247, 72, 159);
}
.adm ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(1, 219, 201);
}