.content{
    width: 750px;
    height: 40%;
    padding: 30px;
    margin-left: 25%;
    border: 1px solid rgb(124, 120, 120);
}
input[placeholder]{
    padding-left: 15px;
}
h1{
    text-align: center;    
}
button{
    width: 340px;
    height: 40px;
    border: white;
    color: white;
    background-color: green;
    margin-left: 20%; 
}
.outer-body{
    margin: 10px 200px;
    border: 1px solid #ced4da;
    padding: 30px;
    margin-top: 50px;
}
.success{
    border-radius:200px;
    height:200px; 
    width:200px; 
    background: #F8FAF5;
    margin:0 auto;
}
.card h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.card p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
}
i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}
.card {
    background: white;
    padding: 60px;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
}
button a{
    text-decoration: none;
    color:white;    
}
button a:hover{
    color: white;
    text-decoration: none;
}
h2{
    text-align: center;
}
.out{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
}