.container{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 800px;
    height: 600px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 100px;   
    background-color: white;
    border-radius: 20%;
    border: 1px solid #ced4da;
}
h1{
    display: block;
}

.left{
    float: left;
    width: 90%;
    margin-left: 0;
    padding: 10%;
    padding-top: 0%;
    background-color: white;
} 
 
.ip input{
    padding: 10px;
    width: 100%;
    border: 1px solid white;
}
.left button{
    margin: 15px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(86, 226, 245);
    border: 1px solid white;
}
